
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

// Variables
@import "variables";

// FA
$fa-font-path: '/fonts';
@import "node_modules/font-awesome/scss/font-awesome";

// Bootstrap
@import "_bootstrap";

// Lumino theme
@import "layout";

@import "mixin";

#nav-dropdown {
    top: 47px;
    border-radius: 0 0 5px 5px;
}

ul.user-menu {
    margin: 0;
    cursor: pointer;
    li.dropdown {
        display: block;
        padding: 14px 10px 16px 0;
    }
}


#loader {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    z-index: 5;

    > div {
        @include vertical-align();
        text-align: center;
        width: 100%;
    }
}

body.loading {
    #loader {
        display: block;
    }
}

.button-bar {
    margin: 20px 0;
}

li.header {
    padding: 15px 10px 10px 15px;
}

.panel-widget {
    position: relative;
    overflow: auto;


    .icon {
        background: #30a5ff;
        color: #fff;
        float: left;
        display: inherit;
        padding: 25px 25px;
        text-align: center;


        &.blue { background: #30a5ff; color: #fff; }
        &.teal { background: #1ebfae; color: #fff; }
        &.orange { background: #ffb53e; color: #fff; }
        &.red { background: #f9243f; color: #fff; }

    }

    .stat {
        text-indent: 33px;
        padding: 9px;
    }
}

table.table-v-align > tbody  tr > td {
    vertical-align: middle;
}